/* Import our LESS mixins https://github.com/drublic/less-mixins/blob/master/mixins.less */
@import '../../bower_components/less-mixins/mixins.less';

/* --------------------------------------------------------------
    `Variables
-------------------------------------------------------------- */
@font-standard: #8c8c8c;
@font-ghost: #dddddd;
@font-light: #ababab;
@font-dark: #555555;
@line-color: #cacaca;
@body-background-base: #fff;
@body-background-fade: #ebeef0;

/* --------------------------------------------------------------
    `Settings
-------------------------------------------------------------- */
html { position: relative; padding: 0; margin: 0; color: @font-standard; min-height: 100%; }

body {
	padding-top: 50px;
	margin-bottom: 60px;
	display: block;
	height: 100%;

	// background: @body-background-color;
	._linear-gradient(top, @body-background-base, @body-background-base, @body-background-fade);
	font-family: 'Lato', serif;
	font-weight: 300;
	font-size: 100%;
	font-size: 18px; }

	.mobile-body { font-size: 14px; }

hr {margin-left: 20px;margin-right: 20px;}

h1, h2, h3, h4, h5 {
	font-family: 'Lato', sans-serif;
	margin: 0; position: relative;}

h1 { font-size: 3em; }

.emphasis-text { font-family: cursive; }

p, .content-row ul, .content-row ol { width: 75%;
	margin: 0 auto; padding: 30px 0px; font-size: 1em; line-height: 2em;
	text-align: justify; }
	.content-row ul { padding-left: 40px; text-align: left; }
	.mobile-body .content-row ul { padding: 0 0 0 40px; font-size: 1.2em; }
	.mobile-body p { text-align: left; font-size: 1em; padding: 10px 0px; }
ul{
		padding-left: 1em;
		margin-bottom: .5em;
}
table {}
	.mobile-body table tr td { vertical-align: top; }

a  { color: @font-dark!important; }
a:hover { color: @font-dark!important; }

hr { margin: 20px 0px; border-top: 1px solid @line-color; }

.fa-fw { text-align:left;}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ng-cloak {
	display: none!important;
}

.logo {
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 5px;
	margin-left: 5px;

	float: right;
}
.logo > img { height:20px; }
.logo-github { 
	margin-top: 13px;
	margin-bottom: 13px;
	margin-left:0px;
}
.logo-github > img { height:26px; }


/* --------------------------------------------------------------
    `Nav
-------------------------------------------------------------- */
.pitrho_nav_logo { width: 183px; height: 40px; margin: 5px 20px 0px 20px; padding: 0;
	background: url('/images/logo_183x40_black.png') top left no-repeat; }

/* --------------------------------------------------------------
    `Common / Utility
-------------------------------------------------------------- */

ul.inline-list { list-style-type: none; margin: 0; padding: 0; display: inline; }
	ul.inline-list li { display: inline; }

/* --------------------------------------------------------------
    `Content
-------------------------------------------------------------- */
.list-group {
	margin-bottom:0px!important;
	padding: 0px;
}
th.sortable, .panel-heading, .list-group-item, .pointer { cursor: pointer; }
hr {margin:20px}

#raceList { margin-bottom: 20px }

.page-title { text-align: center; }
	.page-title small { color: @font-light; }

#race-list--years { display: block; margin: 20px 0px 00px 0px; }
	#race-list--years ul {  }
		#race-list--years ul li { color: @font-light; }
	.active-year { color: @font-standard; text-decoration: underline; }

#race-list--races { margin-top: 20px; }
	#race-list--races h2 { margin-bottom: 10px; }

// Fantasy Detail Page
#section-tabs {}
	.section-tab {}
		.section-tab:hover { cursor: pointer; }
		.section-tab-active { color: red; }

.panel-heading.disabled { color: @font-ghost; cursor: not-allowed}
input[type=number] {
	-moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
/* --------------------------------------------------------------
    `Background
-------------------------------------------------------------- */
#background-image-container {
	position: absolute;
	bottom:0;left:0;
	width: 50%; height: 50%;
	z-index: 0;
}
	.graph-column {
		background: fade(darken(@body-background-base,30%), 15%);
		width: 15%; position: absolute; bottom: 0;
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
	}
		#graph-column--1 { height: 60%; left: 5%; }
		#graph-column--2 { height: 90%; left: 22%; }
		#graph-column--3 { height: 40%; left: 39%; }
		#graph-column--4 { height: 50%; left: 56%; }
/* --------------------------------------------------------------
    `Footer
-------------------------------------------------------------- */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
}

footer h4 > * {
	margin:15px;
}
/*footer { position:absolute;left:50%;bottom:10px; }
footer div { position: relative; left: -50%; }
footer h1 { font-size: 1.2em; border-bottom: 1px solid @line-color; padding-bottom: 5px; }
footer ul { list-style-type: none; margin: 10px 0;
	padding: 0 !important; width:100% !important; }
	footer ul li { padding: 0 0 10px 0; font-size: 18px;}
footer .copyright-info {
	text-align: center; color: darken(@body-background-fade,20%);}
/* --------------------------------------------------------------
    `Bootstrap Mods
-------------------------------------------------------------- */


/* --------------------------------------------------------------
    `Media Queries - based on Twitter's responsive breaks
-------------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 979px) { }

@media (max-width: 979px) {
	h1 { font-size: 2.5em; }
}

@media (max-width: 767px) {
	h1 { font-size: 2em; }
}

@media (max-width: 480px) {
	h1 { font-size: 1.2em; }
}

@media (min-width: 1200px) { }
@media (min-width: 980px) { }
@media (min-width: 767px) {
	.navbar-nav.navbar-right:last-child { margin-right: 0px!important; }
}
