
<div class="container">



<div class="row" data-ng-show="!bankroll.loaded()">
    <div class="col-xs-12">
        <br/>
        <h2 class="page-title">
            Loading Bankroll
        </h2>
        <br/>
    </div>
</div>

<div class="row" data-ng-show="bankroll.loaded()">
    <div style="width:48px;padding-left:0px; padding-right:0px; position:fixed; top:55px; left:0px;z-index:1000">
        <div data-ng-click="transaction.new()" class="btn" data-ng-class="transaction.active ? 'btn-info' : 'btn-default'" style="width:100%; margin:0px; padding:10px 10px 10px 8px;border-left:none;border-radius:0px 5px 5px 0px">
            <h5><i class="fa fa-usd"></i></h5>
        </div>
    </div>
    <div data-ng-if="transaction.active" style="width:48px;padding-left:0px; padding-right:0px; position:fixed; top:100px; left:0px;z-index:1000">
        <div data-ng-click="transaction.save()" class="btn btn-default" style="width:100%; margin:0px; padding:10px 10px 10px 8px;border-left:none;border-radius:0px 5px 5px 0px">
            <h5><i class="fa fa-floppy-o"></i></h5>
        </div>
    </div>
    <div class="col-xs-12 noselect">
        <br/>
        <h2 class="page-title">
            Total: {{bankroll.total() | currency}}
        </h2>
        <h4 class="page-title" style="margin-top:10px">
            <span>In Play: {{bankroll.totalInPlay() | currency}}</span>
            <span>To Win: {{bankroll.totalPayout() - bankroll.totalInPlay() | currency}}</span>
        </h4>
        <br/>
    </div>
    <!--div class="col-xs-12 noselect"><h3>Transaction History</h3></div>
    <div class="col-xs-12 noselect"><hr></div-->
    
    <div class="col-xs-12 noselect" style="text-align:center">
        <div style="display:inline-block">
            <div class="panel panel-default" style="width:110px;display:inline-block">
                <div class="panel-heading" data-ng-click="filters.credits = !filters.credits">
                    <h5><i data-ng-class="filters.credits ? 'fa-check-square-o' : 'fa-square-o'" class="fa fa-fw"></i>Credits</h5>
                </div>
            </div>
            <div class="panel panel-default" style="width:110px;display:inline-block">
                <div class="panel-heading" data-ng-click="filters.debits = !filters.debits">
                    <h5><i data-ng-class="filters.debits ? 'fa-check-square-o' : 'fa-square-o'" class="fa fa-fw"></i>Debits</h5>
                </div>
            </div>
        </div>
        <div style="display:inline-block">
            <div class="panel panel-default" style="width:110px;display:inline-block">
                <div class="panel-heading" data-ng-click="filters.bets = !filters.bets">
                    <h5><i data-ng-class="filters.bets ? 'fa-check-square-o' : 'fa-square-o'" class="fa fa-fw"></i>Bets</h5>
                </div>
            </div>
            <div class="panel panel-default" style="width:110px;display:inline-block">
                <div class="panel-heading" data-ng-click="filters.winners = !filters.winners">
                    <h5><i data-ng-class="filters.winners ? 'fa-check-square-o' : 'fa-square-o'" class="fa fa-fw"></i>Winners</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 noselect">
        {{book.tempBets()}}
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <td>
                        Date Time
                    </td>
                    <td>
                        Type
                    </td>
                    <td>
                        Amount
                    </td>
                </tr>
                <tr data-ng-if="transaction.active">
                    <td>
                        <input style="min-width:120px;max-width:49%;display:inline-block" class="form-control" data-ng-model="transaction.datetime" type="date"/>
                        <input style="min-width:120px;max-width:49%;display:inline-block" class="form-control" data-ng-model="transaction.datetime" type="time"/>
                    </td>
                    <td>
                        <select style="min-width:80px;padding-right:0px" class="form-control" data-ng-model="transaction.type" data-ng-options="type.label as type.label for type in transaction.types"></select>
                    </td>
                    <td>
                        <input class="form-control" type="number" data-ng-model="transaction.amount" style="display:inline-block" ng-keypress="transaction.keypress($event)"/>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="t in bankroll.transactions() | filter : filters.match | orderBy: 'datetime' : false">
                    <td><span>{{t.datetime | date : 'M/d/yyyy'}}</span> <span>{{t.datetime | date : 'hh:mm a'}}</span></td>
                    <td>{{t.type}}</td>
                    <td>{{t.amount | currency}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
