    <div class="row-fluid" data-ng-if="!raceFactory.isRacesLoaded()">
        <h1 class="page-title">
            <small>Loading Races</small>
        </h1>
    </div>
    <div style="padding-top:20px" class="row-fluid" data-ng-if="raceFactory.isRacesLoaded()">
        <div class="col-sm-4 col-xs-12 stopclick noselect">
            <div class="panel panel-default dropdown" data-ng-class="{'open':race.year.isVisible}">
                <div class="panel-heading" data-ng-click="race.toggle('year')">
                    <h4>Year: {{race.year.selected}}<i data-ng-class="{'fa-chevron-down': !race.year.isVisible, 'fa-chevron-up':race.year.isVisible}" class="pull-right fa"></i></h4>
                </div>
                <ul class="list-group" data-ng-class="{'dropdown-menu': windowWidth>=768}" data-ng-show="race.year.isVisible">
                    <a class="list-group-item" data-ng-click="race.year.select(r.year)" data-ng-href="/#!/" data-ng-repeat="r in raceFactory.races() | unique:'year'">{{r.year}}</a>
                </ul>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12 stopclick noselect">
            <div class="panel panel-default dropdown" data-ng-class="{'open':race.series.isVisible}">
                <div class="panel-heading" data-ng-click="race.toggle('series')">
                    <h4>Series: {{race.series.selected}}<i data-ng-class="{'fa-chevron-down': !race.series.isVisible, 'fa-chevron-up':race.series.isVisible}" class="pull-right fa"></i></h4>
                </div>
                <ul class="list-group" data-ng-class="{'dropdown-menu': windowWidth>=768}" data-ng-show="race.series.isVisible">
                    <a class="list-group-item" data-ng-click="race.series.select(r.series_short_name)" data-ng-href="/#!/" data-ng-repeat="r in raceFactory.races() | unique:'series'">{{r.series_short_name}}</a>
                </ul>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12 stopclick noselect">
            <div class="panel panel-default dropdown" data-ng-class="{'open':race.sort.isVisible}">
                <div class="panel-heading" data-ng-click="race.toggle('sort')">
                    <h4>Sort: {{race.sort.selected.name}}<i data-ng-class="{'fa-chevron-down': !race.sort.isVisible, 'fa-chevron-up':race.sort.isVisible}" class="pull-right fa"></i></h4>
                </div>
                <ul class="list-group" data-ng-class="{'dropdown-menu': windowWidth>=768}" data-ng-show="race.sort.isVisible">
                    <a class="list-group-item" data-ng-click="race.sort.select(sorting)" data-ng-href="/#!/" data-ng-repeat="sorting in race.sort.sortings"><i class="fa {{sorting.icon}}"></i>&nbsp;-&nbsp;{{sorting.name}}</a>
                </ul>
            </div>
        </div>

        <div id="raceList" class="col-xs-12">
            <ul class="list-group">
                <a data-ng-repeat="r in raceFactory.races() | filter: {year:race.year.selected} | filter: {series_short_name:race.series.selected} | orderBy:race.sort.selected.filter.p:race.sort.selected.filter.r" class="list-group-item" data-ng-href="/#!/{{r.year}}/{{r.race_number}}/{{r.series_id}}">{{r.name}} @ {{r.track.name}} on {{r.scheduled_datetime | date:'MM/dd/yyyy'}}</a>
            </ul>
        </div>
    </div>