
<div class="container-fluid">
<div class="row-fluid" data-ng-show="!raceFactory.isRacesLoaded()">
    <div class="col-xs-12">
        <br/>
        <h2 class="page-title">
            Loading Race
        </h2>
        <br/>
    </div>
</div>

<div class="row-fluid" data-ng-show="raceFactory.isRacesLoaded()" data-ng-style="{'padding-left': edit.left + 170 + 20 + 'px'};">
    
    

    <div style="text-align:center; width:48px; width:170px; padding-left:0px; padding-right:0px; border-right:1px lightgrey solid; position:fixed; top:50px; z-index:1000;" data-ng-style="{'height':windowHeight-50 + 'px','left':edit.left + 'px'}">


        <div style="padding-left:0px; padding-right:0px; position:absolute; top:5px; left:170px">
           <div data-ng-click="edit.click('matchup')" class="btn" data-ng-class="edit.filter == 'matchup' ? 'btn-info' : 'btn-default'" style="width:100%; margin:0px; padding:10px 10px 10px 8px;border-left:none;border-radius:0px 5px 5px 0px">
                <h5>H2H</h5>
            </div>
        </div>
        <div style="text-align:center; width:48px; padding-left:0px; padding-right:0px; position:absolute; top:50px; left:170px">
            <div data-ng-click="edit.click('win')" class="btn" data-ng-class="edit.filter == 'win' ? 'btn-info' : 'btn-default'" style="width:100%; margin:0px; padding:10px 10px 10px 8px;border-left:none;border-radius:0px 5px 5px 0px">
                <h5>AoN</h5>
            </div>
        </div>
        <div style="text-align:center; width:48px; padding-left:0px; padding-right:0px; position:absolute; top:95px; left:170px">
            <div data-ng-click="edit.click('group')" class="btn" data-ng-class="edit.filter == 'group' ? 'btn-info' : 'btn-default'" style="width:100%; margin:0px; padding:10px 10px 10px 8px;border-left:none;border-radius:0px 5px 5px 0px">
                <h5>4H</h5>
            </div>
        </div>
        <div style="text-align:center; width:48px; padding-left:0px; padding-right:0px; position:absolute; top:140px; left:170px">
            <div data-ng-click="edit.click('settings')" class="btn" data-ng-class="edit.filter == 'settings' ? 'btn-info' : 'btn-default'" style="width:100%; margin:0px; padding:10px 10px 10px 8px;border-left:none;border-radius:0px 5px 5px 0px">
                <h4><i class="fa fa-cog"></i></h4>
            </div>
        </div>
        
        <div class="col-xs-12" style="border-bottom:1px lightgrey solid;padding:5px 2.5px 5px 2.5px;margin:0px">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Driver's Name" data-ng-model="edit.name">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" data-ng-click="edit.clear()"><i class="fa fa-times"></i></button>
              </span>
            </div>
            
        </div>

        <div class="col-xs-12" style="overflow-y:scroll;border-right:1px lightgrey solid;float:left;padding:5px" data-ng-style="{'height':windowHeight-95 + 'px'}">
            <div data-ng-repeat="driver in raceFactory.driversAr() | filter : {name: edit.name} | orderBy: 'efp'" class="btn" data-ng-class="driver.wager ? 'btn-info' : 'btn-default'" style="width:100%; margin-bottom:5px;margin-top:5px;padding:6px" data-ng-click="edit.add(driver)"> 
                <h5>{{driver.name}}</h5>
            </div>

        </div>
    </div>


<div class="col-xs-12" style="overflow-y:scroll;padding-right:20px" data-ng-style="{'height':windowHeight-50 + 'px'}">
    
    <div data-ng-show="edit.filter == 'matchup' || edit.visible == false || edit.filter == 'settings'" class="col-xs-12">
        <br/>
        <h2 class="page-title">
            Head to Head
        </h2>
        <br/>

        <table style="font-size:0.8em" class="table table-condensed table-hover">
            <thead>
                <tr data-ng-show="matchups.length">
                    <td></td>
                    <td colspan="2">
                        <input style="width:90px" data-ng-if="edit.visible && !datetime.edit" class="form-control" type="button" value="Add Date" data-ng-click="datetime.add('matchup')"></input>
                        <div data-ng-if="edit.visible && datetime.edit && datetime.matchup" class="input-group">
                            <input class="form-control" type="datetime-local" data-ng-model="datetime.value"></input>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" value="Save" data-ng-click="datetime.save('matchup')">Save</button>
                                <button class="btn btn-default" type="button" value="Save" data-ng-click="datetime.cancel('matchup')"><i class="fa fa-times"></i></button>
                            </span>
                        </div>
                    </td>
                    <td style="text-align:center;vertical-align:middle" data-ng-repeat="d in book.dateTimes()">{{d | date : 'short'}}</i></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-init="matchupIndex = $index" data-ng-repeat-start="matchup in book.wagers() | filter : {type: 'matchup'} | orderBy : 'id' : (edit.visible && edit.filter != 'settings') as matchups">
                    
                    <td style="border-top:none"></td>
                    <td style="width:50px;vertical-align:middle;text-align:center">
                        <span data-ng-if="!edit.visible || matchup.valid">{{matchup.lines[0].number}}</span>
                        <input data-ng-if="edit.visible && !matchup.valid" class="form-control" type="number" data-ng-model="matchup.lines[0].number" data-ng-model-options='{ debounce: 1000 }' data-ng-change="book.updateLineNumber(matchup.lines[0])" style="width:50px;padding:0px 3px 0px 3px;height:30px;text-align:center">
                    </td>
                    <td style="width:140px;vertical-align:middle;text-align:center">
                        <span data-ng-if="!edit.visible || matchup.valid">{{race.drivers[matchup.lines[0].driverId].name}}</span>
                        <select data-ng-if="edit.visible && !matchup.valid" data-ng-model-options='{ debounce: 1000 }' data-ng-change="book.updateLineDriver(matchup.lines[0])" style="width:150px;padding:0px 3px 0px 3px;height:30px" class="form-control" data-ng-model="matchup.lines[0].driverId" data-ng-options="driver.id as driver.name for driver in raceFactory.driversAr() | orderBy: 'efp'"></select>
                    </td>
                    <td data-ng-repeat="d in book.dateTimes()" style="width:200px;vertical-align:middle;text-align:center">
                        <div data-ng-if="bets.length == 0 && matchup.lines[0].id != 0">
                            <form data-ng-if="edit.visible" class="form-inline">
                                <input type="text" style="display:inline-block; width:137px;padding:0px 3px 0px 3px;height:30px;text-align:center" data-ng-model="matchup.lines[0].tempOdd[d]" class="form-control" placeholder="Odds">
                                <input type="submit" style="display:inline-block; width:50px;padding:0px 3px 0px 3px;height:30px" value="Save" class="btn btn-default" data-ng-click="book.addBet(matchup,matchup.lines[0],matchup.lines[0].tempOdd[d],d)">
                            </form>
                            <span data-ng-if="!edit.visible">No Odds</span>
                        </div>
                        <div data-ng-repeat="bet in matchup.lines[0].bets | filter : {dateTime: d} as bets">
                            <form data-ng-if="bets.length != 0" class="form-inline">
                                <div style="min-width:137px;display:inline-block;">
                                <span>Odds:&nbsp;{{bet.moneyLine}}&nbsp;</span>
                                <span data-ng-if="bet.calculated">Bet:&nbsp;{{bet.amount}}</span>
                                <span data-ng-if="bet.placed && bet.won == null">-&nbsp;Placed</span>
                                <span data-ng-if="bet.placed && bet.won">-&nbsp;Won</span>
                                <span data-ng-if="bet.placed && bet.won != null && !bet.won">-&nbsp;Lost</span>
                                </div>
                                <input data-ng-if="!bet.placed && edit.visible && bet.calculated" type="submit" style="display:inline-block; width:50px;padding:0px 3px 0px 3px;height:30px" value="Place" class="btn btn-default" data-ng-click="book.placeBet(bet)">
                            </form>
                        </div>
                    </td>
                </tr>
                <tr data-ng-if="matchup.lines[1].bets">
                    <td style="border-top:none"></td>
                    <td style="width:50px;vertical-align:middle;text-align:center">
                        <span data-ng-if="!edit.visible || matchup.valid">{{matchup.lines[1].number}}</span>
                        <input data-ng-if="edit.visible  && !matchup.valid" class="form-control" type="number" data-ng-model="matchup.lines[1].number" data-ng-model-options='{ debounce: 1000 }' data-ng-change="book.updateLineNumber(matchup.lines[1])" style="width:50px;padding:0px 3px 0px 3px;height:30px;text-align:center">
                    </td>
                    <td style="width:140px;vertical-align:middle;text-align:center">
                        <span data-ng-if="!edit.visible || matchup.valid">{{race.drivers[matchup.lines[1].driverId].name}}</span>
                        <select data-ng-if="edit.visible  && !matchup.valid" style="width:150px;padding:0px 3px 0px 3px;height:30px" class="form-control" data-ng-model="matchup.lines[1].driverId" data-ng-options="driver.id as driver.name for driver in raceFactory.driversAr() | orderBy: 'efp'"></select>
                    </td>
                    <td data-ng-repeat="d in book.dateTimes()" style="width:200px;vertical-align:middle;text-align:center">
                        <div data-ng-if="bets.length == 0 && matchup.lines[1].id != 0">
                            <form data-ng-if="edit.visible" class="form-inline">
                                <input type="text" style="display:inline-block; width:137px;padding:0px 3px 0px 3px;height:30px;text-align:center" data-ng-model="matchup.lines[1].tempOdd[d]" class="form-control" placeholder="Odds">
                                <input type="submit" style="display:inline-block; width:50px;padding:0px 3px 0px 3px;height:30px" value="Save" class="btn btn-default" data-ng-click="book.addBet(matchup,matchup.lines[1],matchup.lines[1].tempOdd[d],d)">
                            </form>
                            <span data-ng-if="!edit.visible">No Odds</span>
                        </div>
                        <div data-ng-repeat="bet in matchup.lines[1].bets | filter : {dateTime: d} as bets">
                            <form data-ng-if="bets.length != 0" class="form-inline">
                                <div style="min-width:137px;display:inline-block;">
                                    <span>Odds:&nbsp;{{bet.moneyLine}}&nbsp;</span>
                                    <span data-ng-if="bet.calculated">Bet:&nbsp;{{bet.amount}}</span>
                                    <span data-ng-if="bet.placed && bet.won == null">-&nbsp;Placed</span>
                                    <span data-ng-if="bet.placed && bet.won">-&nbsp;Won</span>
                                    <span data-ng-if="bet.placed && bet.won != null && !bet.won">-&nbsp;Lost</span>
                                </div>
                                <input data-ng-if="!bet.placed && edit.visible && bet.calculated" type="submit" style="display:inline-block; width:50px;padding:0px 3px 0px 3px;height:30px" value="Place" class="btn btn-default" data-ng-click="book.placeBet(bet)">
                            </form>
                        </div>
                    </td>
                </tr>
                <tr data-ng-repeat-end><td style="border-top:none"></td><td colspan="{{book.dateTimes().length + 2}}"></td></tr>
            </tbody>
        </table>
    </div>


    <div data-ng-show="edit.filter == 'win' || edit.visible == false || edit.filter == 'settings'" class="col-xs-12">
        <br/>
        <h2 class="page-title">
            All or Nothing
        </h2>
        <br/>

        <table style="font-size:0.8em" class="table table-condensed table-hover">
            <thead>
                <tr data-ng-show="wins.length">
                    <td></td>
                    <td colspan="2">
                        <input style="width:90px" data-ng-if="edit.visible && !datetime.edit" class="form-control" type="button" value="Add Date" data-ng-click="datetime.add('win')"></input>
                        <div data-ng-if="edit.visible && datetime.edit && datetime.win" class="input-group">
                            <input class="form-control" type="datetime-local" data-ng-model="datetime.value"></input>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" value="Save" data-ng-click="datetime.save('win')">Save</button>
                                <button class="btn btn-default" type="button" value="Save" data-ng-click="datetime.cancel('win')"><i class="fa fa-times"></i></button>
                            </span>
                        </div>
                    </td>
                    <td style="text-align:center;vertical-align:middle;" data-ng-repeat="d in book.dateTimes()">{{d | date : 'short'}}</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-init="winIndex = $index" data-ng-repeat-start="win in book.wagers() | filter : {type: 'win'} | orderBy : 'id' : (edit.visible && edit.filter != 'settings') as wins">
                    <td style="border-top:none"></td>
                    <td style="width:50px;text-align:center;vertical-align:middle;">
                        <span data-ng-if="!edit.visible || win.valid">{{win.lines[0].number}}</span>
                        <input data-ng-if="edit.visible && !win.valid" class="form-control" type="number" data-ng-model="win.lines[0].number" data-ng-model-options='{ debounce: 1000 }' data-ng-change="book.updateLineNumber(win.lines[0])" style="width:50px;padding:0px 3px 0px 3px;height:30px;text-align:center">
                    </td>
                    <td style="width:140px;text-align:center;vertical-align:middle;">
                        <span data-ng-if="!edit.visible || win.valid">{{race.drivers[win.lines[0].driverId].name}}</span>
                        <select data-ng-if="edit.visible && !win.valid" style="width:150px;padding:0px 3px 0px 3px;height:30px" class="form-control" data-ng-model="win.lines[0].driverId" data-ng-options="driver.id as driver.name for driver in raceFactory.driversAr() | orderBy: 'efp'"></select>
                    </td>
                    <td data-ng-repeat="d in book.dateTimes()" style="width:200px;vertical-align:middle;text-align:center">
                        <div data-ng-if="bets.length == 0 && win.lines[0].id != 0">
                            <form data-ng-if="edit.visible" class="form-inline">
                                <input type="text" style="display:inline-block; width:137px;padding:0px 3px 0px 3px;height:30px;text-align:center" data-ng-model="win.lines[0].tempOdd[d]" class="form-control" placeholder="Odds">
                                <input type="submit" style="display:inline-block; width:50px;padding:0px 3px 0px 3px;height:30px" value="Save" class="btn btn-default" data-ng-click="book.addBet(win,win.lines[0],win.lines[0].tempOdd[d],d)">
                            </form>
                            <span data-ng-if="!edit.visible">No Odds</span>
                        </div>
                        <div data-ng-repeat="bet in win.lines[0].bets | filter : {dateTime: d} as bets">
                            <form data-ng-if="bets.length != 0" class="form-inline">
                                <div style="min-width:137px;display:inline-block;">
                                <span>Odds:&nbsp;{{bet.moneyLine}}&nbsp;</span>
                                <span data-ng-if="bet.calculated">Bet:&nbsp;{{bet.amount}}</span>
                                <span data-ng-if="bet.placed && bet.won == null">-&nbsp;Placed</span>
                                <span data-ng-if="bet.placed && bet.won">-&nbsp;Won</span>
                                <span data-ng-if="bet.placed && bet.won != null && !bet.won">-&nbsp;Lost</span>
                                </div>
                                <input data-ng-if="!bet.placed && edit.visible && bet.calculated" type="submit" style="display:inline-block; width:50px;padding:0px 3px 0px 3px;height:30px" value="Place" class="btn btn-default" data-ng-click="book.placeBet(bet)">
                            </form>
                        </div>
                    </td>
                </tr>
                <tr data-ng-repeat-end><td style="border-top:none"></td><td colspan="{{book.dateTimes().length + 2}}"></td></tr>
            </tbody>
        </table>
    </div>


    <div data-ng-show="edit.filter == 'group' || edit.visible == false || edit.filter == 'settings'" class="col-xs-12">
        <br/>
        <h2 class="page-title">
            Four Horsemen
        </h2>
        <br/>

        <table style="font-size:0.8em" class="table table-condensed table-hover">
            <thead>
                <tr data-ng-show="groups.length">
                    <td></td>
                    <td colspan="2">
                        <input style="width:90px" data-ng-if="edit.visible && !datetime.edit" class="form-control" type="button" value="Add Date" data-ng-click="datetime.add('group')"></input>
                        <div data-ng-if="edit.visible && datetime.edit && datetime.group" class="input-group">
                            <input class="form-control" type="datetime-local" data-ng-model="datetime.value"></input>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" value="Save" data-ng-click="datetime.save('group')">Save</button>
                                <button class="btn btn-default" type="button" value="Save" data-ng-click="datetime.cancel('group')"><i class="fa fa-times"></i></button>
                            </span>

                        </div>
                    </td>
                    <td style="text-align:center;vertical-align:middle;" data-ng-repeat="d in book.dateTimes()">{{d | date : 'short'}}</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-init="groupIndex = $index" data-ng-repeat-start="group in book.wagers() | filter : {type: 'group'} | orderBy : 'id' : (edit.visible && edit.filter != 'settings') as groups">
                    <td style="border-top:none"></td>
                    <td style="width:50px;text-align:center;vertical-align:middle;">
                        <span data-ng-if="!edit.visible || group.valid">{{group.lines[0].number}}</span>
                        <input data-ng-if="edit.visible && !group.valid" class="form-control" type="number" data-ng-model="group.lines[0].number" data-ng-model-options='{ debounce: 1000 }' data-ng-change="book.updateLineNumber(group.lines[0])" style="width:50px;padding:0px 3px 0px 3px;height:30px;text-align:center">
                    </td>
                    <td style="width:140px;text-align:center;vertical-align:middle;">
                        <span data-ng-if="!edit.visible || group.valid">{{race.drivers[group.lines[0].driverId].name}}</span>
                        <select data-ng-if="edit.visible && !group.valid" style="width:150px;padding:0px 3px 0px 3px;height:30px" class="form-control" data-ng-model="group.lines[0].driverId" data-ng-options="driver.id as driver.name for driver in raceFactory.driversAr() | orderBy: 'efp'"></select>
                    </td>
                    <td data-ng-repeat="d in book.dateTimes()" style="width:200px;vertical-align:middle;text-align:center">
                        <div data-ng-if="bets.length == 0 && group.lines[0].id != 0">
                            <form data-ng-if="edit.visible" class="form-inline">
                                <input type="text" style="display:inline-block; width:137px;padding:0px 3px 0px 3px;height:30px;text-align:center" data-ng-model="group.lines[0].tempOdd[d]" class="form-control" placeholder="Odds">
                                <input type="submit" style="display:inline-block; width:50px;padding:0px 3px 0px 3px;height:30px" value="Save" class="btn btn-default" data-ng-click="book.addBet(group,group.lines[0],group.lines[0].tempOdd[d],d)">
                            </form>
                            <span data-ng-if="!edit.visible">No Odds</span>
                        </div>
                        <div data-ng-repeat="bet in group.lines[0].bets | filter : {dateTime: d} as bets">
                            <form data-ng-if="bets.length != 0" class="form-inline">
                                <div style="min-width:137px;display:inline-block;">
                                <span>Odds:&nbsp;{{bet.moneyLine}}&nbsp;</span>
                                <span data-ng-if="bet.calculated">Bet:&nbsp;{{bet.amount}}</span>
                                <span data-ng-if="bet.placed && bet.won == null">-&nbsp;Placed</span>
                                <span data-ng-if="bet.placed && bet.won">-&nbsp;Won</span>
                                <span data-ng-if="bet.placed && bet.won != null && !bet.won">-&nbsp;Lost</span>
                                </div>
                                <input data-ng-if="!bet.placed && edit.visible  && bet.calculated" type="submit" style="display:inline-block; width:50px;padding:0px 3px 0px 3px;height:30px" value="Place" class="btn btn-default" data-ng-click="book.placeBet(bet)">
                            </form>
                        </div>
                    </td>
                </tr>
                <tr data-ng-if="group.lines[1].bets">
                    <td style="border-top:none"></td>
                    <td style="width:50px;text-align:center;vertical-align:middle;">
                        <span data-ng-if="!edit.visible || group.valid">{{group.lines[1].number}}</span>
                        <input data-ng-if="edit.visible && !group.valid" class="form-control" type="number" data-ng-model="group.lines[1].number" data-ng-model-options='{ debounce: 1000 }' data-ng-change="book.updateLineNumber(group.lines[1])" style="width:50px;padding:0px 3px 0px 3px;height:30px;text-align:center">
                    </td>
                    <td style="width:140px;text-align:center;vertical-align:middle;">
                        <span data-ng-if="!edit.visible || group.valid">{{race.drivers[group.lines[1].driverId].name}}</span>
                        <select data-ng-if="edit.visible && !group.valid" style="width:150px;padding:0px 3px 0px 3px;height:30px" class="form-control" data-ng-model="group.lines[1].driverId" data-ng-options="driver.id as driver.name for driver in raceFactory.driversAr() | orderBy: 'efp'"></select>
                    </td>
                    <td data-ng-repeat="d in book.dateTimes()" style="width:200px;vertical-align:middle;text-align:center">
                        <div data-ng-if="bets.length == 0 && group.lines[1].id != 0">
                            <form data-ng-if="edit.visible" class="form-inline">
                                <input type="text" style="display:inline-block; width:137px;padding:0px 3px 0px 3px;height:30px;text-align:center" data-ng-model="group.lines[1].tempOdd[d]" class="form-control" placeholder="Odds">
                                <input type="submit" style="display:inline-block; width:50px;padding:0px 3px 0px 3px;height:30px" value="Save" class="btn btn-default" data-ng-click="book.addBet(group,group.lines[1],group.lines[1].tempOdd[d],d)">
                            </form>
                            <span data-ng-if="!edit.visible">No Odds</span>
                        </div>
                        <div data-ng-repeat="bet in group.lines[1].bets | filter : {dateTime: d} as bets">
                            <form data-ng-if="bets.length != 0" class="form-inline">
                                <div style="min-width:137px;display:inline-block;">
                                <span>Odds:&nbsp;{{bet.moneyLine}}&nbsp;</span>
                                <span data-ng-if="bet.calculated">Bet:&nbsp;{{bet.amount}}</span>
                                <span data-ng-if="bet.placed && bet.won == null">-&nbsp;Placed</span>
                                <span data-ng-if="bet.placed && bet.won">-&nbsp;Won</span>
                                <span data-ng-if="bet.placed && bet.won != null && !bet.won">-&nbsp;Lost</span>
                                </div>
                                <input data-ng-if="!bet.placed && edit.visible && bet.calculated" type="submit" style="display:inline-block; width:50px;padding:0px 3px 0px 3px;height:30px" value="Place" class="btn btn-default" data-ng-click="book.placeBet(bet)">
                            </form>
                        </div>
                    </td>
                </tr>
                <tr data-ng-if="group.lines[2].bets">
                    <td style="border-top:none"></td>
                    <td style="width:50px;text-align:center;vertical-align:middle;">
                        <span data-ng-if="!edit.visible || group.valid">{{group.lines[2].number}}</span>
                        <input data-ng-if="edit.visible && !group.valid" class="form-control" type="number" data-ng-model="group.lines[2].number" data-ng-model-options='{ debounce: 1000 }' data-ng-change="book.updateLineNumber(group.lines[2])" style="width:50px;padding:0px 3px 0px 3px;height:30px;text-align:center">
                    </td>
                    <td style="width:140px;text-align:center;vertical-align:middle;">
                        <span data-ng-if="!edit.visible || group.valid">{{race.drivers[group.lines[2].driverId].name}}</span>
                        <select data-ng-if="edit.visible && !group.valid" style="width:150px;padding:0px 3px 0px 3px;height:30px" class="form-control" data-ng-model="group.lines[2].driverId" data-ng-options="driver.id as driver.name for driver in raceFactory.driversAr() | orderBy: 'efp'"></select>
                    </td>
                    <td data-ng-repeat="d in book.dateTimes()" style="width:200px;vertical-align:middle;text-align:center">
                        <div data-ng-if="bets.length == 0 && group.lines[2].id != 0">
                            <form data-ng-if="edit.visible" class="form-inline">
                                <input type="text" style="display:inline-block; width:137px;padding:0px 3px 0px 3px;height:30px;text-align:center" data-ng-model="group.lines[2].tempOdd[d]" class="form-control" placeholder="Odds">
                                <input type="submit" style="display:inline-block; width:50px;padding:0px 3px 0px 3px;height:30px" value="Save" class="btn btn-default" data-ng-click="book.addBet(group,group.lines[2],group.lines[2].tempOdd[d],d)">
                            </form>
                            <span data-ng-if="!edit.visible">No Odds</span>
                        </div>
                        <div data-ng-repeat="bet in group.lines[2].bets | filter : {dateTime: d} as bets">
                            <form data-ng-if="bets.length != 0" class="form-inline">
                                <div style="min-width:137px;display:inline-block;">
                                <span>Odds:&nbsp;{{bet.moneyLine}}&nbsp;</span>
                                <span data-ng-if="bet.calculated">Bet:&nbsp;{{bet.amount}}</span>
                                <span data-ng-if="bet.placed && bet.won == null">-&nbsp;Placed</span>
                                <span data-ng-if="bet.placed && bet.won">-&nbsp;Won</span>
                                <span data-ng-if="bet.placed && bet.won != null && !bet.won">-&nbsp;Lost</span>
                                </div>
                                <input data-ng-if="!bet.placed && edit.visible && bet.calculated" type="submit" style="display:inline-block; width:50px;padding:0px 3px 0px 3px;height:30px" value="Place" class="btn btn-default" data-ng-click="book.placeBet(bet)">
                            </form>
                        </div>
                    </td>
                </tr>
                <tr data-ng-if="group.lines[3].bets">
                    <td style="border-top:none"></td>
                    <td style="width:50px;text-align:center;vertical-align:middle;">
                        <span data-ng-if="!edit.visible || group.valid">{{group.lines[3].number}}</span>
                        <input data-ng-if="edit.visible && !group.valid" class="form-control" type="number" data-ng-model="group.lines[3].number" data-ng-model-options='{ debounce: 1000 }' data-ng-change="book.updateLineNumber(group.lines[3])" style="width:50px;padding:0px 3px 0px 3px;height:30px;text-align:center">
                    </td>
                    <td style="width:140px;text-align:center;vertical-align:middle;">
                        <span data-ng-if="!edit.visible || group.valid">{{race.drivers[group.lines[3].driverId].name}}</span>
                        <select data-ng-if="edit.visible && !group.valid" style="width:150px;padding:0px 3px 0px 3px;height:30px" class="form-control" data-ng-model="group.lines[3].driverId" data-ng-options="driver.id as driver.name for driver in raceFactory.driversAr() | orderBy: 'efp'"></select>
                    </td>
                    <td data-ng-repeat="d in book.dateTimes()" style="width:200px;vertical-align:middle;text-align:center">
                        <div data-ng-if="bets.length == 0 && group.lines[3].id != 0">
                            <form data-ng-if="edit.visible" class="form-inline">
                                <input type="text" style="display:inline-block; width:137px;padding:0px 3px 0px 3px;height:30px;text-align:center" data-ng-model="group.lines[3].tempOdd[d]" class="form-control" placeholder="Odds">
                                <input type="submit" style="display:inline-block; width:50px;padding:0px 3px 0px 3px;height:30px" value="Save" class="btn btn-default" data-ng-click="book.addBet(group,group.lines[3],group.lines[3].tempOdd[d],d)">
                            </form>
                            <span data-ng-if="!edit.visible">No Odds</span>
                        </div>
                        <div data-ng-repeat="bet in group.lines[3].bets | filter : {dateTime: d} as bets">
                            <form data-ng-if="bets.length != 0" class="form-inline">
                                <div style="min-width:137px;display:inline-block;">
                                <span>Odds:&nbsp;{{bet.moneyLine}}&nbsp;</span>
                                <span data-ng-if="bet.calculated">Bet:&nbsp;{{bet.amount}}</span>
                                <span data-ng-if="bet.placed && bet.won == null">-&nbsp;Placed</span>
                                <span data-ng-if="bet.placed && bet.won">-&nbsp;Won</span>
                                <span data-ng-if="bet.placed && bet.won != null && !bet.won">-&nbsp;Lost</span>
                                </div>
                                <input data-ng-if="!bet.placed && edit.visible && bet.calculated" type="submit" style="display:inline-block; width:50px;padding:0px 3px 0px 3px;height:30px" value="Place" class="btn btn-default" data-ng-click="book.placeBet(bet)">
                            </form>
                        </div>
                    </td>
                </tr>
                <tr data-ng-repeat-end><td style="border-top:none"></td><td colspan="{{book.dateTimes().length + 2}}"></td></tr>
            </tbody>
        </table>
    </div>
</div>

</div>
</div>

