<!doctype html>
<html lang="en" data-ng-app="prfApp" data-ng-controller="appCtrl" data-ng-click="htmlClick($event)">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Rho Echelon</title>
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,300italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/app.css">
        <link rel="shortcut icon" href="/images/favicon.ico" />
    </head>
    <body data-ng-cloak class="ng-cloak"  resize>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-ng-click="nav.toggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a data-ng-click="nav.collapse()" data-ng-href="/#!/"><div class='pitrho_nav_logo'></div></a>
            </div>

            <div class="navbar-collapse" data-ng-class="{'collapse': nav.isCollapsed}">
              <ul class="nav navbar-nav navbar-left">
                <li data-ng-class="{active: route.current.activetab == 'home'}">
                    <a data-ng-click="nav.collapse()" data-ng-href="/#!/">All Races</a>
                </li>
                <li data-ng-repeat="hrace in race.history.races" data-ng-class="{active : route.current.activetab == 'race' && race.isSelected(hrace), 'hidden-sm': $index > 1, 'hidden-md': $index > 2}">
                    <a data-ng-click="nav.collapse()" data-ng-href="/#!/{{hrace.year}}/{{hrace.race_number}}/{{hrace.series_id}}">{{hrace | historyRaceTab}}</a>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li data-ng-class="{active: route.current.activetab == 'bankroll'}">
                    <a data-ng-click="nav.collapse()" data-ng-href="/#!/bankroll">Bankroll</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <div id="page-top"></div>
        
        <div>
            <div ng-view></div>
        </div>

        <!-- JS Assets -->
        <script src="js/vendor.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>
